<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--тег, который позволяет перебирать список-->
<head>
    <meta charset="UTF-8">
    <title>FULL LIST OF EVENTS</title>
</head>
<body>
    <h2> Event list</h2>
    <table border="1">
        <tr>
            <th>Event name</th>
            <th>City</th>
            <th>Price</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr th:each="event : ${events}">
            <td th:utext="${event.name}">...</td>
            <td th:utext="${event.city}">...</td>
            <td th:utext="${event.price}">...</td>
            <td>
                <a th:href="@{/update/{id}(id=${events.indexOf(event)})}">Edit</a>
            </td>
            <td>
                <form action="/delete" th:method="DELETE">
                      <input type="hidden" name="id" th:value="${events.indexOf(event)}"/>
                      <button>delete</button>
                </form>
            </td>
        </tr>
    </table>
<p>Add new event: <a href="/add"> click</a></p>
</body>
</html>